body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik";
  box-shadow: 1px 5px 7px 8px rgba(252, 252, 252, 1);
  -webkit-box-shadow: 1px 5px 7px 8px rgba(252, 252, 252, 1);
  -moz-box-shadow: 1px 5px 7px 8px rgba(252, 252, 252, 1);
}

.headerDiv {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}

.logoImg {
  width: 100px;
}

.headerUlItem {
  list-style-type: none;
  display: flex;
}

.headerLiItem {
  color: black;
  margin: 10px;
  font-size: 16px;
}

.headerLiItem:hover {
  color: rgb(171, 0, 8);
  cursor: pointer;
  position: relative;
}

.headerLiItem:hover::before {
  content: "";
  position: absolute;
  top: 23px;
  background: rgb(171, 0, 8);
  width: 5px;
  height: 5px;
  border-radius: 100%;
  left: 50%;
}

.buttonPrijava {
  padding: 10px 20px;
  border: 1px solid rgb(171, 0, 8);
  border-radius: 0.75rem;
  background-color: transparent;
  margin: 10px;
  color: rgb(171, 0, 8);
  cursor: pointer;
}

.buttonPrijava:hover {
  background-color: rgba(221, 211, 211, 0.442);
}

.buttonRezerviraj:hover {
  background-color: rgb(116, 5, 11);
}

.buttonRezerviraj {
  padding: 10px 15px;
  border: 1px solid rgb(171, 0, 8);
  border-radius: 0.75rem;
  background-color: rgb(171, 0, 8);
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.xl {
  padding: 20px 30px;
}

.changeLanguageBtn {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.75;
  color: rgb(171, 0, 8);
  min-width: 2rem;
  text-transform: initial;
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 0.75rem;
  padding: 0.3rem 1rem;
}

.changeLanguageBtn:hover {
  background-color: rgba(211, 211, 211, 0.514);
}

.heroMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mainContainer {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heroTekst {
  margin-top: 20px;
  margin-bottom: 35px;
  text-align: center;
}

.heroTekstTitle {
  font-family: "Rubik";
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 0;
  font-family: "Source Serif Pro";
  font-weight: bold;
}

.regularTekst {
  font-size: 16px;
  margin-bottom: 25px;
}

.cardContainer {
  width: 480px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.443);
  padding: 30px 40px;
  margin-top: -45px;
  background-color: white;
  margin-bottom: 60px;
}

.cardTekst {
  margin-top: 80px;
  font-family: "Rubik";
  font-weight: 300;
}

.salonImage {
  border-radius: 10px;
}

.banner {
  height: 6.5rem;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerTekst {
  font-size: 36px;
  font-family: "Source Serif Pro";
  font-weight: bold;
}

.sponsorsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsorsContainer {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sponsorsLogoImg {
  width: 120px;
  margin: 20px;
}

.workersContainer {
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  column-gap: 70px;
}

.workersDiv {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workersImg {
  width: 120px;
  height: 100px;
  border-radius: 30px;
  transform: scale(1.1);
}

.workersName {
  color: rgb(171, 0, 8);
  font-family: "Robot";
  font-size: 26px;
  font-weight: bold;
}

.workersBio {
  width: 200px;
  font-family: "Rubik";
  color: rgba(0, 0, 0, 0.782);
  font-size: 18px;
}

.postaniClanDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.postaniClanContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  padding: 100px;
}

.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.signUpText {
  font-family: "Rubik";
}

.logInText {
  font-family: "Rubik";
}

.logIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.signUpImg {
  width: 150px;
}

.logInImg {
  width: 150px;
}

.logInButton {
  padding: 10px 20px;
  background-color: black;
  border-radius: 0.75rem;
  margin: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border: 0;
}

.signUpButton {
  padding: 10px 20px;
  background-color: rgb(171, 0, 8);
  border-radius: 0.75rem;
  margin: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border: 0;
}

.signUpButton:hover {
  background-color: rgb(93, 6, 11);
  box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.23);
}

.logInButton:hover {
  box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.23);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 100px;
}

.footerDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}

.footerLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin-left: 30px;
  font-family: "Rubik";
}

.phone,
.facebook,
.instagram {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  width: 170px;
  cursor: pointer;
}

.footerLogo {
  height: 150px;
}

.icon {
  height: 30px;
  margin-right: 15px;
}

.signInDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formDiv {
  background-color: #fafafa;
  width: 480px;
  min-height: 82vh;
  margin-top: 100px;
  text-align: center;
  padding: 50px;
}

.welcomeText {
  font-family: "Rubik";
  font-size: 38px;
  margin-top: 30px;
  font-weight: 500;
}

.headerWidthMax {
  width: 100%;
}

.buttonsDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.buttonsDiv .buttonsLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonsDiv .buttonsLeft button {
  padding: 20px 20px;
  background-color: transparent;
  border: 0;
  color: #aeafae;
}

.buttonsDiv .buttonsLeft button:hover {
  background-color: #ececec;
  border: 0;
  border-radius: 10px;
}

.helpButton {
  padding: 20px 20px;
  background-color: transparent;
  border: 0;
  color: #aeafae;
}

.helpButton:hover {
  background-color: #ececec;
  border: 0;
  border-radius: 10px;
}

.bookNowDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bookContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 50px;
  width: 900px;
  margin-top: 30px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 100px;
}

.chooseServiceDiv {
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.194);
  border-radius: 15px;
}

.chooseBarberDiv {
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.194);
  border-radius: 15px;
}

.chooseDateAndTime {
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.194);
  border-radius: 15px;
}

.underlined-text {
  position: relative;
  padding-bottom: 10px;
  margin-left: 5px;
}

.grid-row-span {
  grid-column: span 2;
}

.underlined-text:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 93%;
  border-bottom: 2px solid rgb(171, 0, 8);
}

.naslovDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 900px;
}

.rezervirajNaslov {
  font-family: "Source Serif Pro";
  margin-top: 50px;
  font-size: 36px;
}

.smallText {
  font-size: 14px;
  color: rgb(171, 0, 8);
  font-family: "Rubik";
  margin-left: 5px;
}

.fullWidthHeader {
  width: 100%;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profileContainer {
  width: 800px;
  display: grid;
  font-family: "Rubik";
  margin-top: 100px;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.profileContainer p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.profileInfo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.194);
  border-radius: 10px;
  grid-column: 1;
  grid-row: 1 / 5;
}

.podaciRacuna {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.194);
}

.profileLabel {
  color: rgb(171, 0, 8);
}

.labelDiv {
  margin: 10px;
}

.podaciRacuna p,
button {
  margin: 10px;
}

.logOutButton {
  padding: 10px;
  grid-column: 2;
  grid-row: 1;
  border: 1px solid rgba(0, 0, 0, 0.194);
  border-radius: 10px;
  background-color: white;
  color: black;
  font-family: "Rubik";
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteAccountButton {
  padding: 10px;
  grid-column: 2;
  grid-row: 3;
  border: 1px solid rgba(0, 0, 0, 0.194);
  border-radius: 10px;
  background-color: white;
  color: black;
  font-family: "Rubik";
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logOutButton p {
  margin-left: 10px;
}

.buttonRezervacije {
  padding: 10px;
  grid-column: 2;
  grid-row: 2;
  border: 1px solid rgba(0, 0, 0, 0.194);
  border-radius: 10px;
  background-color: white;
  color: black;
  font-family: "Rubik";
  font-weight: 500;
  cursor: pointer;
}

.logOutButton:hover {
  background-color: #aeafae51;
}

.buttonRezervacije:hover {
  background-color: #aeafae51;
}

.izbrisiRacun {
  border: 1px solid rgba(0, 0, 0, 0.194);
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.izbrisiRacun:hover {
  background-color: #aeafae51;
}

.deleteAccountButton {
  background-color: rgb(171, 0, 8);
  color: white;
}

.deleteAccountButton:hover {
  background-color: rgb(116, 5, 11);
}

.bootstrapModal {
  font-family: "Rubik";
}

.modalInputWidth {
  height: 30px;
  width: 100%;
  padding: 10px;
  font-family: inherit;
}

.modalInputWidth:focus {
  outline: 1px solid rgb(171, 0, 8);
}

.inputMarginBottom {
  margin-bottom: 15px;
}
