@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik";
  box-shadow: 1px 5px 7px 8px rgba(252, 252, 252, 1);
  -webkit-box-shadow: 1px 5px 7px 8px rgba(252, 252, 252, 1);
  -moz-box-shadow: 1px 5px 7px 8px rgba(252, 252, 252, 1);
}

.headerDiv {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}

.logoImg {
  width: 100px;
}

.headerUlItem {
  list-style-type: none;
  display: flex;
  margin-bottom: 0;
}

.headerLiItem {
  color: black;
  margin: 10px;
  font-size: 16px;
}

.headerLiItem:hover {
  color: rgb(171, 0, 8);
  cursor: pointer;
  position: relative;
}

.headerLiItem:hover::before {
  content: "";
  position: absolute;
  top: 23px;
  background: rgb(171, 0, 8);
  width: 5px;
  height: 5px;
  border-radius: 100%;
  left: 50%;
}

.buttonPrijava {
  padding: 10px 20px;
  border: 1px solid rgb(171, 0, 8);
  border-radius: 0.75rem;
  background-color: transparent;
  margin: 10px;
  color: rgb(171, 0, 8);
  cursor: pointer;
}

.buttonPrijava:hover {
  background-color: rgba(221, 211, 211, 0.442);
}

.buttonRezerviraj:hover {
  background-color: rgb(116, 5, 11);
}

.buttonRezerviraj {
  padding: 10px 15px;
  border: 1px solid rgb(171, 0, 8);
  border-radius: 0.75rem;
  background-color: rgb(171, 0, 8);
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.xl {
  padding: 20px 30px;
}

.changeLanguageBtn {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.75;
  color: rgb(171, 0, 8);
  min-width: 2rem;
  text-transform: initial;
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 0.75rem;
  padding: 0.3rem 1rem;
}

.changeLanguageBtn:hover {
  background-color: rgba(211, 211, 211, 0.514);
}

.heroMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mainContainer {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heroTekst {
  margin-top: 20px;
  margin-bottom: 35px;
  text-align: center;
}

.heroTekstTitle {
  font-size: 42px;
  margin-bottom: 0;
  font-family: "Source Serif Pro", serif;
  font-weight: bold;
  margin-top: 25px;
}

.regularTekst {
  font-size: 16px;
  margin-bottom: 15px;
}

.cardContainer {
  width: 680px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.443);
  padding: 30px 40px;
  margin-top: -45px;
  background-color: white;
  margin-bottom: 60px;
}

.cardTekst {
  margin-top: 80px;
  font-family: "Rubik";
  font-weight: 300;
}

.salonImage {
  border-radius: 10px;
  object-fit: cover;
  height: auto;
}

.banner {
  height: 6.5rem;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerTekst {
  font-family: "Source Serif Pro", serif;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.sponsorsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsorsContainer {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sponsorsLogoImg {
  width: 120px;
  margin: 20px;
}

.workersContainer {
  padding: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  column-gap: 70px;
}

.workersDiv {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
}

.workersImg {
  width: 120px;
  height: 100px;
  border-radius: 30px;
  transform: scale(1.1);
  object-fit: cover;
}

.removeMarginP {
  margin: 0;
  padding: 10px;
}

.workersName {
  color: rgb(171, 0, 8);
  font-family: "Robot";
  font-size: 26px;
  font-weight: bold;
  margin-top: 1rem;
}

.workersBio {
  width: 200px;
  font-family: "Rubik";
  color: rgba(0, 0, 0, 0.782);
  font-size: 18px;
}

.postaniClanDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.postaniClanContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  padding: 100px;
  text-align: center;
}

.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.signUpText {
  font-family: "Rubik";
  margin-top: 20px;
}

.logInText {
  font-family: "Rubik";
  margin-top: 20px;
}

.logIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.signUpImg {
  width: 150px;
}

.logInImg {
  width: 150px;
}

.logInButton {
  padding: 10px 20px;
  background-color: black;
  border-radius: 0.75rem;
  margin: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border: 0;
}

.signUpButton {
  padding: 10px 20px;
  background-color: rgb(171, 0, 8);
  border-radius: 0.75rem;
  margin: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border: 0;
}

.signUpButton:hover {
  background-color: rgb(93, 6, 11);
  box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.23);
}

.logInButton:hover {
  box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.23);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 100px;
}

.footerDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}

.footerLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin-left: 30px;
  font-family: "Rubik";
}

.phone,
.facebook,
.instagram {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  width: 170px;
  cursor: pointer;
}

.phone p,
.facebook p,
.instagram p {
  margin-bottom: 0;
}

.footerLogo {
  height: 150px;
}

.icon {
  height: 30px;
  margin-right: 15px;
}

.signInDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formDiv {
  background-color: #fafafa;
  width: 480px;
  min-height: 82vh;
  margin-top: 100px;
  text-align: center;
  padding: 50px;
}

.welcomeText {
  font-family: "Rubik";
  font-size: 38px;
  margin-top: 30px;
  font-weight: 500;
}

.headerWidthMax {
  width: 100%;
}

.buttonsDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.buttonsDiv .buttonsLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonsDiv .buttonsLeft button {
  padding: 20px 20px;
  background-color: transparent;
  border: 0;
  color: #aeafae;
}

.buttonsDiv .buttonsLeft button:hover {
  background-color: #ececec;
  border: 0;
  border-radius: 10px;
}

.helpButton {
  padding: 20px 20px;
  background-color: transparent;
  border: 0;
  color: #aeafae;
}

.helpButton:hover {
  background-color: #ececec;
  border: 0;
  border-radius: 10px;
}

.bookNowDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttonLeftMargin {
  margin-left: 10px;
}

.headerDivLokacija {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}

.bookContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 50px;
  width: 900px;
  margin-top: 30px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 100px;
}

.chooseServiceDiv {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.194);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}

.chooseBarberDiv {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.194);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}

.chooseDateAndTime {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.194);
  border-radius: 15px;
  background-color: #ffffff;
}

.grid-row-span {
  grid-column: span 2;
}

.underlined-text {
  position: relative;
  padding-bottom: 3px;
  margin-left: 5px;
  font-family: "Rubik";
  color: rgba(0, 0, 0, 0.791);
}

.underlined-text:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 93%;
  border-bottom: 2px solid rgb(171, 0, 8);
}

.naslovDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 900px;
}

.rezervirajNaslov {
  font-family: "Source Serif Pro", serif;
  margin-top: 50px;
  font-size: 36px;
  font-weight: bold;
  margin-left: 15px;
}

.smallText {
  font-size: 14px;
  color: rgb(171, 0, 8);
  font-family: "Rubik";
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 0;
}

.fullWidthHeader {
  width: 100%;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profileContainer {
  width: 800px;
  display: grid;
  font-family: "Rubik";
  margin-top: 100px;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.profileContainer p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.profileInfo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.194);
  border-radius: 10px;
  grid-column: 1;
  grid-row: 1 / 3;
}

.buttonParent {
  display: flex;
  flex-direction: column;
}

.buttonParent button {
  margin-bottom: 10px;
}

.podaciRacuna {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.194);
}

.profileLabel {
  color: rgb(171, 0, 8);
}

.labelDiv {
  margin: 10px;
}

.podaciRacuna p,
button {
  margin: 10px;
}

.logOutButton {
  height: 50px;
  padding: 10px;
  grid-column: 2;
  grid-row: 1;
  border: 1px solid rgba(0, 0, 0, 0.194);
  border-radius: 10px;
  background-color: white;
  color: black;
  font-family: "Rubik";
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.deleteAccountButton {
  padding: 10px;
  grid-column: 2;
  grid-row: 1.5;
  border: 1px solid rgba(0, 0, 0, 0.194);
  border-radius: 10px;
  background-color: white;
  color: black;
  font-family: "Rubik";
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logOutButton p {
  margin-left: 10px;
}

.buttonRezervacije {
  padding: 10px;
  grid-column: 2;
  grid-row: 2;
  border: 1px solid rgba(0, 0, 0, 0.194);
  border-radius: 10px;
  background-color: white;
  color: black;
  font-family: "Rubik";
  font-weight: 500;
  cursor: pointer;
  height: 50px;
}

.logOutButton:hover {
  background-color: #aeafae51;
}

.buttonRezervacije:hover {
  background-color: #aeafae51;
}

.izbrisiRacun {
  border: 1px solid rgba(0, 0, 0, 0.194);
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.izbrisiRacun:hover {
  background-color: #aeafae51;
}

.deleteAccountButton {
  background-color: rgb(171, 0, 8);
  color: white;
  height: 50px;
}

.deleteAccountButton:hover {
  background-color: rgb(116, 5, 11);
}

.bootstrapModal {
  font-family: "Rubik";
}

.modalInputWidth {
  height: 30px;
  width: 100%;
  padding: 10px;
  font-family: inherit;
}

.modalInputWidth:focus {
  outline: 1px solid rgb(171, 0, 8);
}

.inputMarginBottom {
  margin-bottom: 15px;
}

.calendar-form {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
  align-content: center;
  justify-content: center;
  gap: 5px;
}

.mon,
.tue,
.wen,
.thu,
.fri,
.saturday {
  background-color: rgb(171, 0, 8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

.mon p,
.tue p,
.wen p,
.thu p,
.fri p,
.saturday p {
  margin: 0;
  font-family: "Rubik";
  font-size: 16px;
}

.datum {
  font-weight: bold;
  font-size: 12px;
}

.sat {
  border: 1px solid rgba(128, 128, 128, 0.408);
  text-align: center;
  padding: 5px;
  font-family: "Rubik";
  border-radius: 5px;
  margin: 0;
  margin-top: 5px;
  cursor: pointer;
}

.smallGrey {
  font-family: "Rubik";
  color: grey;
}

.textHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bookingModal {
  display: flex;
  flex-direction: column;
  width: 600px;
  border-radius: 5px;
  border: 1px solid grey;
  z-index: 11;
  background-color: white;
}

.exitIcon {
  cursor: pointer;
}

.modalExitButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 20px;
  margin-top: 15px;
}

.bookingModalTitle {
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
}

.bookingInformation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  background-color: rgba(211, 211, 211, 0.384);
  padding: 20px;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Rubik";
}

.datumModal {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 7px;
}

.datumModal label {
  margin-bottom: 0;
  color: rgb(171, 0, 8);
  font-size: 14px;
}

.napomenaContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
}

.napomena {
  margin-left: 5px;
  font-family: "Rubik";
}

.nijeObavezno {
  margin-left: 15px;
  margin-bottom: 0;
  font-family: "Rubik";
  font-size: 14px;
  color: rgba(128, 128, 128, 0.737);
}

.buttonBooking {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#bookingArea {
  height: 120px;
  margin-top: 15px;
  resize: none;
  border: 1px solid rgba(131, 131, 131, 0.368);
  border-radius: 5px;
}

#bookingArea:focus {
  outline: none;
}

.bookingModalButton {
  font-family: "Rubik";
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lockIcon {
  margin-right: 5px;
}

.modalBackground {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.631);
  z-index: 9;
  align-items: center;
  justify-content: center;
}

.rezervacijeContainer {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.mojeRezervacije {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headingReserv {
  font-family: "Source Serif Pro", serif;
  font-size: 32px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 50px;
}

.rezervacija {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.434);
  border-left: 4px solid rgb(171, 0, 8);
  margin-bottom: 20px;
}

.rezervacijaLeft {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  font-family: "Rubik";
}

.rezervacijaLeft p:nth-child(2) {
  margin-bottom: 0;
}

.rezervDatVri {
  display: flex;
}

.rezervDatVri p {
  margin-bottom: 0;
}

.rezervDatVri p:nth-child(2) {
  margin-left: 10px;
}

.rezervButton {
  padding: 5px 10px;
  background-color: rgb(171, 0, 8);
  color: white;
  border: 0;
  border-radius: 5px;
  font-family: "Rubik";
}

.forgotPasswordDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.forgotPasswordContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
}

.forgotPasswordForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  width: 500px;
  border-top: 3px solid rgb(171, 0, 8);
}

.forgotPasswordForm h2 {
  font-family: "Rubik";
  font-size: 32px;
  margin-bottom: 50px;
}

.forgotPasswordInput {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
  margin-bottom: 20px;
}

.forgotPasswordInput:focus {
  outline: 1px solid rgb(171, 0, 8);
}

.forgotPasswordButton {
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid rgb(171, 0, 8);
  border-radius: 0.75rem;
  background-color: rgb(171, 0, 8);
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

/* RESPONSIVE -------------------------------------------------------------------- */

.hamburgerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headerUlItem-hamburger {
  list-style-type: none;
  display: flex;
  margin-bottom: 0;
  flex-direction: column;
  text-transform: uppercase;
}

.headerLiItem-hamburger:nth-child(1) {
  margin-top: 30px;
}

.headerLiItem-hamburger:last-child {
  margin-bottom: 30px;
}

.headerLiItem-hamburger {
  color: black;
  margin: 10px;
  font-size: 16px;
}

.headerLiItem-hamburger:hover {
  color: rgb(171, 0, 8);
  cursor: pointer;
  position: relative;
}

.buttons-hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.buttonPrijava-hamburger {
  padding: 10px 20px;
  border: 1px solid rgb(171, 0, 8);
  border-radius: 0.75rem;
  background-color: transparent;
  margin: 10px;
  color: rgb(171, 0, 8);
  cursor: pointer;
}

.buttonRezerviraj-hamburger {
  padding: 10px 20px;
  border: 1px solid rgb(171, 0, 8);
  border-radius: 0.75rem;
  background-color: rgb(171, 0, 8);
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.buttonPrijava-hamburger:hover {
  background-color: rgba(221, 211, 211, 0.442);
}

.buttonRezerviraj-hamburger:hover {
  background-color: rgb(116, 5, 11);
}

.locationDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.locationContainer {
  width: 1000px;
}

.locationTitle {
  font-size: 36px;
  font-family: "Source Serif Pro", serif;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bold;
}

.leafletContainer {
  height: 500px;
  width: 100%;
  margin-bottom: 100px;
}

.buttonMojeRezervacije {
  padding: 10px 15px;
  border: 1px solid rgb(171, 0, 8);
  border-radius: 0.75rem;
  background-color: rgb(171, 0, 8);
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.labelAdresa {
  font-family: "Rubik";
  font-weight: 600;
  font-size: 24px;
}

.ulicaLokacija {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 18px;
}

@media only screen and (max-width: 850px) {
  .headerUlItem {
    display: none;
  }

  .buttons {
    display: none;
  }

  .salonImage {
    max-width: 700px;
  }

  .workersContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .postaniClanContainer {
    width: 700px;
    padding: 50px;
  }

  .footerDiv {
    width: 700px;
    display: flex;
    flex-direction: column;
  }

  .footerRight {
    text-align: center;
    margin-top: 20px;
    margin-left: 0;
  }

  .footer {
    margin-top: 25px;
  }

  .bannerTekst {
    font-size: 2rem;
  }

  .cardContainer {
    width: 520px;
  }

  .locationContainer {
    width: 700px;
  }

  .cardComponentImage {
    height: 180px;
  }

  .cardTekst {
    margin-top: 25px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1060px) {
  .workersContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .cardComponentImage {
    height: 200px;
  }

  .cardTekst {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1335px) {
  .salonImage {
    width: 1200px;
  }

  .mainContainer {
    width: 1300px;
  }

  .footer {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1238px) {
  .salonImage {
    width: 1000px;
  }

  .mainContainer {
    width: 1050px;
  }

  .cardContainer {
    width: 500px;
  }
}

@media only screen and (max-width: 1290px) {
  .salonImage {
    width: 1000px;
  }
  .cardContainer {
    width: 500px;
  }

  .mainContainer {
    width: 1100px;
  }

  .footerDiv {
    width: 1050px;
  }

  .headerDiv {
    width: 1000px;
  }

  .headerDivLokacija {
    width: 1000px;
  }

  .contacts {
    margin-left: 0;
  }

  .footerRight {
    margin-left: 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 950px) {
  .bookContainer {
    width: 750px;
    gap: 30px;
  }

  .naslovDiv {
    width: 750px;
  }
}

@media only screen and (max-width: 770px) {
  .bookContainer {
    width: 650px;
    gap: 20px;
  }

  .naslovDiv {
    width: 650px;
  }

  .rezervirajNaslov {
    font-size: 28px;
  }
}

@media only screen and (max-width: 670px) {
  .bookContainer {
    width: 580px;
    gap: 20px;
  }

  .naslovDiv {
    width: 580px;
  }

  .rezervirajNaslov {
    font-size: 28px;
  }
}

@media only screen and (max-width: 600px) {
  .bookContainer {
    width: 520px;
    gap: 15px;
  }

  .naslovDiv {
    width: 520px;
  }

  .rezervirajNaslov {
    font-size: 26px;
  }
}

@media only screen and (max-width: 540px) {
  .bookContainer {
    width: 450px;
    display: flex;
    flex-direction: column;
  }

  .naslovDiv {
    width: 450px;
  }

  .rezervirajNaslov {
    font-size: 26px;
  }
}

@media only screen and (max-width: 470px) {
  .bookContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
  }

  .naslovDiv {
    width: 400px;
  }

  .rezervirajNaslov {
    font-size: 26px;
  }
}

@media only screen and (max-width: 430px) {
  .rezervacija {
    width: 350px;
  }
}

@media only screen and (max-width: 1050px) {
  .salonImage {
    width: 800px;
  }

  .mainContainer {
    width: 1000px;
  }

  .cardContainer {
    width: 480px;
  }
  .footerDiv {
    width: 880px;
  }

  .headerDiv {
    width: 800px;
  }

  .headerDivLokacija {
    width: 800px;
  }

  .locationContainer {
    width: 800px;
  }
}

@media only screen and (max-width: 934px) {
  .footerDiv {
    width: 740px;
  }
}

@media only screen and (max-width: 770px) {
  .footerDiv {
    width: 620px;
  }
}

@media only screen and (max-width: 740px) {
  .salonImage {
    width: 640px;
  }

  .mainContainer {
    width: 700px;
  }

  .cardContainer {
    width: 440px;
  }

  .cardTekst {
    margin-top: 20px;
    font-size: 14px;
  }

  .cardComponentImage {
    height: 160px;
  }
}

@media only screen and (max-width: 678px) {
  .salonImage {
    width: 580px;
  }
  .cardContainer {
    width: 430px;
  }
}

@media only screen and (max-width: 622px) {
  .salonImage {
    width: 520px;
  }

  .mainContainer {
    width: 580px;
  }

  .cardContainer {
    width: 410px;
  }
}

@media only screen and (max-width: 540px) {
  .salonImage {
    width: 480px;
  }

  .mainContainer {
    width: 500px;
  }

  .cardContainer {
    width: 400px;
  }
}

@media only screen and (max-width: 810px) {
  .workersContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 780px) {
  .sponsorsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }
}

@media only screen and (max-width: 640px) {
  .postaniClanContainer {
    display: flex;
    flex-direction: column;
  }
  .signUp {
    margin-bottom: 30px;
  }

  .footerDiv {
    width: 580px;
  }
}

@media only screen and (max-width: 570px) {
  .headerUlItem {
    display: none;
  }
  .buttons {
    display: none;
  }

  .salonImage {
    max-width: 530px;
  }

  .mainContainer {
    width: 550px;
  }

  .workersContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .heroTekstTitle {
    font-size: 32px;
  }

  .buttonRezerviraj {
    padding: 10px;
  }

  .bannerTekst {
    font-size: 1.8rem;
  }

  .sponsorsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }

  .postaniClanContainer {
    display: flex;
    flex-direction: column;
  }

  .signUp {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .footerDiv {
    width: 500px;
  }

  .footer {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .cardTekst {
    margin-top: 30px;
  }

  .cardContainer {
    margin-top: -15px;
    width: 400px;
  }

  .logoImg {
    width: 80px;
  }

  .cardTekst {
    margin-top: 10px;
    font-size: 14px;
  }

  .cardComponentImage {
    height: 140px;
  }

  .locationContainer {
    max-width: 435px;
  }
}

@media only screen and (max-width: 450px) {
  .locationContainer {
    max-width: 381px;
    height: 300px;
  }

  .headerDivLokacija {
    max-width: 350px;
  }
}

@media only screen and (max-width: 395px) {
  .locationContainer {
    max-width: 340px;
    height: 300px;
  }

  .headerDivLokacija {
    max-width: 340px;
  }

  .buttonRezerviraj {
    padding: 6px;
  }

  .buttonLeftMargin {
    margin-left: 6px;
  }
}

.uvjetiKoristenja {
  margin-bottom: 0;
}

.buttonLokacijaHeader {
  padding: 10px 15px;
  border: 1px solid rgb(171, 0, 8);
  border-radius: 0.75rem;
  background-color: rgb(171, 0, 8);
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.buttonLokacijaHeader:hover {
  background-color: rgb(116, 5, 11);
}

@media only screen and (max-width: 500px) {
  .headerUlItem {
    display: none;
  }
  .buttons {
    display: none;
  }

  .salonImage {
    max-width: 430px;
  }

  .mainContainer {
    width: 460px;
  }

  .workersContainer {
    grid-template-columns: 1fr;
  }

  .heroTekstTitle {
    font-size: 22px;
  }

  .heroTekstTitle {
    font-size: 28px;
  }

  .buttonRezerviraj {
    padding: 10px;
  }

  .bannerTekst {
    font-size: 1.6rem;
  }

  .sponsorsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
  }

  .postaniClanContainer {
    display: flex;
    flex-direction: column;
  }

  .signUp {
    margin-bottom: 35px;
    margin-top: 35px;
  }

  .footerDiv {
    width: 400px;
  }

  .footer {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .cardTekst {
    margin-top: 20px;
  }

  .cardContainer {
    margin-top: -15px;
    width: 350px;
  }

  .cardContainer img {
    height: 150px;
  }

  .cardTekst {
    margin-top: 10px;
    font-size: 14px;
  }

  .postaniClanContainer {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .signUpImg {
    width: 90px;
  }

  .logInImg {
    width: 90px;
  }

  .footerRight {
    font-size: 14px;
  }

  .workersImg {
    width: 110px;
    height: 110px;
  }

  .workersName {
    font-size: 24px;
  }

  .workersBio {
    font-size: 18px;
  }

  .bannerTekst {
    text-align: center;
  }
}

@media only screen and (max-width: 840px) {
  .profileContainer {
    display: flex;
    flex-direction: column;
    width: 680px;
  }

  .locationContainer {
    width: 680px;
  }

  .labelAdresa {
    font-size: 20px;
  }

  .ulicaLokacija {
    font-size: 16px;
  }

  .locationTitle {
    font-size: 30px;
  }

  .headerDiv {
    width: 680px;
  }

  .headerDivLokacija {
    width: 680px;
  }
  .mojeRezervacije {
    max-width: 680px;
  }
  .rezervacija {
    max-width: 680px;
  }

  .rezervacijeContainer {
    width: 680px;
  }
}

@media only screen and (max-width: 705px) {
  .profileContainer {
    display: flex;
    flex-direction: column;
    width: 550px;
    margin-top: 50px;
  }
  .headerDiv {
    width: 550px;
  }

  .headerDivLokacija {
    width: 550px;
  }

  .rezervacijeContainer {
    width: 550px;
  }

  .locationContainer {
    width: 550px;
    height: 550px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 570px) {
  .profileContainer {
    display: flex;
    flex-direction: column;
    width: 410px;
  }
  .headerDiv {
    width: 480px;
  }

  .headerDivLokacija {
    width: 480px;
  }

  .rezervacijeContainer {
    width: 410px;
  }

  .rezervacija {
    width: 410px;
  }
}

@media only screen and (max-width: 420px) {
  .rezervacijeContainer {
    width: 350px;
    display: flex;
    align-items: center;
  }

  .rezervacija {
    width: 340px;
    padding: 5px;
  }

  .buttonMojeRezervacije {
    padding: 5px;
  }
}

@media only screen and (max-width: 500px) {
  .headerDiv {
    width: 430px;
  }
  .headerDivLokacija {
    width: 430px;
  }
}

@media only screen and (max-width: 450px) {
  .profileContainer {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-top: 20px;
  }

  .headerDiv {
    width: 401px;
  }

  .headerDivLokacija {
    width: 401px;
  }

  .buttons-hamburger {
    grid-template-columns: 1fr;
    align-items: center;
  }

  .salonImage {
    width: 401px;
  }

  .mainContainer {
    width: 430px;
  }

  .cardContainer {
    width: 345px;
    text-align: center;
  }
}

@media only screen and (max-width: 420px) {
  .headerDiv {
    width: 350px;
  }

  .mainContainer {
    width: 400px;
  }

  .salonImage {
    width: 360px;
  }

  .cardContainer {
    width: 305px;
    text-align: center;
    margin-bottom: 30px;
  }

  .signUp {
    margin-bottom: 80px;
  }

  .logIn {
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 399px) {
  .profileContainer {
    width: 300px;
  }

  .headerDiv {
    width: 300px;
  }

  .bookContainer {
    width: 350px;
  }

  .naslovDiv {
    width: 350px;
  }

  .mainContainer {
    width: 380px;
  }

  .salonImage {
    width: 320px;
  }

  .cardContainer {
    width: 280px;
  }

  .footerRight {
    font-size: 12px;
    text-align: center;
    width: 300px;
  }

  .uvjetiKoristenja {
    font-size: 12px;
  }

  .autorskaPrava {
    font-size: 12px;
  }

  .cardComponentImage {
    height: 110px;
  }
}
